/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.col {
    float: left;
}

.container-center {
    width: 75%;
    margin: 0 auto;
}

.btn {
    background-color: #0061ff;
    padding: 10px 20px;
    color: white;
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
#main-menu {
    width: 100%;
    height: 70px;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
    position: fixed;
    z-index: 500;
    top: 0;
    background-color: white;
}



#main-menu nav {
    width: calc(100% / 2 - 110px);
    text-align: center;
    float: left;
}

#main-menu nav li:hover {
    border-bottom: black 2px solid;
}

#nav-left {
    padding-right: 10%;
}
#nav-right {
    padding-left: 10%;
}

#main-menu li {
    margin: 0 40px;
    display: inline-block;
}

.logo img {
    float: left;
}

.btn-login {
    float: right;
}

/* jumbotron */
.jumbotron {
    background-color: rgb(157, 197, 230);
    padding: 0 10%;
    margin-top: 70px;
}

.jumbotron .clearfix {
    position: relative;
    bottom: -80px;
}

.jumbotron h1 {
    font-size: 85px;
    margin-bottom: 4%;
}

.jumbo-text {
    width: 25%;
    margin-right: 10%;
    font-weight: 600;
    float: left;
}

.jumbo-text span {
    display: block;
}

.jumbotron a {
    margin: 10% 0 5%;
}

.jumbotron i {
    display: inline-block;
    margin-top: 15%;
    font-size: 50px;
}

#jumbo-img {
    width: 65%;
    float: left;
}

/* main */

    /* PLAN CHOICE SECTION */
#paid-plan .plan-mode h2, #paid-plan .plan-des h2 {
        font-size: 30px;
        margin-top: 10%;
        margin-bottom: 6%;
}
    
#paid-plan .plan-mode h2 {
        margin-top: 20%;
        margin-bottom: 5%;
        font-size: 50px;
}

.plan-mode {
    margin-right: 10%;
}

.plan-mode i:first-of-type {
    color: #0061ff;
}

.plan-mode i:last-of-type {
    color: lightgray;
}

.buy-now {
    text-decoration: underline;
    color: #0061ff;
}

.plan-cat {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 12px 0;
}

.plan {
    width: 30%;
    border: solid 1px lightgray;
    min-height: 120vh;
}

.plan h4 {
    font-size: 20px;
    font-weight: 900;
}

.plan .btn {
    margin: 10% 0;
    display: block;
    padding: 2% 20%;
}

#plan-box {
    margin-top: 4%;
    margin-bottom: 10%;
}

.mid-col {
    margin: 0 5%;
}

.plan-des {
    padding: 0 10%;
}

.plan-span {
    color: gray;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: 600;
}

.plan-des li {
    margin: 8% 0;
}

.plan-des .plan-des-top li:nth-child(1)::before {
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
}

.plan-des .plan-des-top li:nth-child(2):before {
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
}

.plan-des .plan-des-top li:nth-child(3):before {
    content: "\270E";
    font-size: 20px;
    font-weight: 900;
}

.plan-des .plan-des-bot li::before {
    content: "\2714";
    color: cornflowerblue;
    font-size: 20px;
    font-weight: 900;
}

.plan-des ul {
    list-style: none;
}

.plan-des hr {
    width: 15%;
    margin: 10% 0;
}

.plan-bot {
    border: solid 1px lightgray;
    width: 100%;
    margin-top: 4%;
}

.plan-bot .bot-des {
    width: 65%;
    float: left;
    margin: 2%;
}

.bot-des h3 {
    margin: 3% 0;
}

.plan-bot .btn {
    float: right;
    width: 25%;
    margin: 2% 5% 0 0;
    padding: 10px 5%;
    text-align: center;
}

/* find partner */
#find-partner .partner {
    padding: 5%;
}

#find-partner .col {
    width: 50%;
}


#find-partner img {
    width: 100%;
    margin-bottom: 10%;
}

#find-partner h3 {
    font-size: 30px;
}

#find-partner p {
    font-weight: 600;
    margin: 5% 0;
    line-height: 2em;
}

#find-partner .btn {
    color: black;
    background-color: white;
    border: 1px black solid;
    font-weight: 600;
}

/* operations */
#operations {
    margin-bottom: 15%;
}

#operations h2 {
    font-size: 50px;
    margin-bottom: 5%;
}

#operations h3 {
    font-weight: 700;
    font-size: 30px;
}

#operations p {
    font-size: 18px;
    font-weight: 600;
    margin: 10% 0;
    width: 85%;
}

#operations .col {
    width: 30%;
}

#operations img {
    width: 100%;
}

.img-center {
    text-align: center;
}

/* clients */
#clients a {
    text-decoration: underline;
    color: #0061ff;
    margin: 3% 0;
    font-weight: 600;
    display: inline-block;
}

#clients h2 {
    font-size: 45px;
    font-weight: 700;
    width: 50%;
}

#clients .client-img img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clients .col-left, #clients .col-right {
    width: 30%;
    float: left;
}

#clients .col {
    min-height: 300px;
}

/* col left */
#clients .col-left .top-left {
    width: 50%;
    background-color: lightgreen;
}

#clients .col-left .top-right {
    width: 50%;
    background-color: rgb(126, 20, 20)
}

#clients .col-left .bot-left {
    width: 50%;
    background-color: royalblue;
}

#clients .col-left .bot-right {
    width: 50%;
    background-color: tomato;
}
/* col right */
#clients .col-right .top-left {
    width: 50%;
    background-color: rgb(195, 0, 0);
}

#clients .col-right .top-right {
    width: 50%;
    background-color: rgba(180,208,231,255);
}

#clients .col-right .bot-left {
    width: 50%;
    background-color: rgb(0, 0, 150);
}

#clients .col-right .bot-right {
    width: 50%;
    background-color: rgb(185, 185, 0);
}

/* col mid */
#clients .col-mid {
    width: 40%;
    min-height: 600px;
    padding: 5% 3%;
    float: left;
    background-color: lightgray;
}

#client-mid-img img {
    filter: invert(0);
    width: 25%;
}

#clients .col-mid span {
    display: inline-block;
    margin-top: 10%;
}

#clients .col-mid hr {
    width: 10%;
    margin: 5% 0;
}

/* col bot */
#clients .col-bot {
    width: 100%;
    display: inline-block;
    background-color: rgba(180,208,231,255);
    text-align: center;
}

#clients .col-bot h2 {
    font-size: 45px;
    color: purple;
    width: 60%;
    margin: 0 auto;
}

#clients .col-bot .btn {
    color: black;
    background-color: white;
    width: 100%;
}

#clients .col-bot a {
    width: 40%;
}

#clients .col-bot .col {
    width: 50%;
    padding: 8% 0;
}

.relative-pos {
    position: relative;
}

/* FAQ */
.faq-box {
    margin: 5% 0;
}

.faq-quest {
    padding: 40px 5px;
}

.accordion {
    border-bottom: 1px lightgray solid;
    cursor: pointer;
}

.faq-quest:first-child {
    border-top: 1px lightgray solid;
}

.faq-box .angle-down {
    font-size: 25px;
    float: right;
    padding-right: 2%;
}

.faq-box h2 {
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 2%;
}

.faq-box p {
    display: none;
    margin-bottom: 5px;
    padding-right: 8%;
    padding-bottom: 2%;
}

.faq-quest:hover + p {
    display: block;
}

/* footer */
footer {
    background-color: black;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
}

footer a {
    color: white;
}

footer hr {
    color: lightgray;
    width: 10%;
}

.footer-top {
    color: white;
}

.footer-col {
    width: 20%;
    float: left;
    margin: 5% 0;
}

.footer-col h3 {
    margin-bottom: 25px;
    font-size: 24px;
}

.footer-col li {
    list-style: none;
    margin: 10px 0;
    font-weight: 600;
}

.footer-col a:hover {
    text-decoration: underline;
}

.footer-bot {
    color: gray;
    padding: 3% 0;
}