/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.col {
    float: left;
}

.container-center {
    width: 75%;
    margin: 0 auto;
}

.btn {
    background-color: blue;
    padding: 10px 20px;
    color: white;
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
#main-menu {
    height: 70px;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
    position: sticky;
    top: 0;
    background-color: white;
}

#main-menu nav {
    width: calc(100% / 2 - 110px);
    text-align: center;
    float: left;
}

#main-menu nav li:hover {
    border-bottom: black 2px solid;
}

#nav-left {
    padding-right: 10%;
}
#nav-right {
    padding-left: 10%;
}

#main-menu li {
    margin: 0 40px;
    display: inline-block;
}

.logo img {
    float: left;
}

.btn-login {
    float: right;
}

/* jumbotron */
.jumbotron {
    background-color: rgb(157, 197, 230);
    padding: 5% 10%;

    /* image outside background */
    height: 90vh;
}

.jumbotron h1 {
    font-size: 85px;
    margin-bottom: 4%;
}

.jumbo-text {
    width: 25%;
    margin-right: 5%;
    font-weight: 600;
    float: left;
}

.jumbotron a {
    margin: 10% 0 5%;
}

.jumbotron i {
    display: block;
    margin-top: 15%;
    font-size: 50px;
}

#jumbo-img {
    width: 70%;
    float: left;
}

/* main */

    /* PLAN CHOICE SECTION */
#paid-plan h2 {
    font-size: 45px;
    margin: 5% 0;
}

#paid-plan span {
    margin-right: 10%;
}

.plan-cat {
    border-bottom: 1px solid gray;
    text-align: center;
}

.plan {
    width: calc(100% / 3 - 80px);
    border: solid 1px gray;
    margin: 0 40px;
    min-height: 80vh;
}

.plan-bot {
    border: solid 1px gray;
    margin: 0 40px;
    margin-top: 3%;
}

.plan-bot h5 {
    display: inline-block;
    width: 70%;
}

.plan-bot .btn {
    float: right;
    width: 20%;
    margin: 2%;
}

/* find partner */
#find-partner .partner {
    padding: 5%;
}

#find-partner .col {
    width: 50%;
}

#find-partner img {
    width: 100%;
}

/* operations */
#operations .col {
    width: calc(100% / 3);
}

#operations img {
    width: 100%;
}

/* clients */
#clients a {
    text-decoration: underline;
    color: deepskyblue;
}

#clients img {
    /* display: inline-block; */
    width: 150px;
    height: 150px;
}

.client-img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

#clients .col-left, #clients .col-right {
    width: 30%;
}
/* #clients .col-right {
    float: right;
} */

 /* col left */
#clients .col-left .top-left {
    width: 50%;
    background-color: lightgreen;
}

#clients .col-left .top-right {
    width: 50%;
    background-color: rgb(126, 20, 20)
}

#clients .col-left .bot-left {
    width: 50%;
    background-color: lightsteelblue;
}

#clients .col-left .bot-right {
    width: 50%;
    background-color: red;
}
/* col right */
#clients .col-right .top-left {
    width: 50%;
    background-color: red;
}

#clients .col-right .top-right {
    width: 50%;
    background-color: rgb(45, 153, 72);
}

#clients .col-right .bot-left {
    width: 50%;
    background-color: blue;
}

#clients .col-right .bot-right {
    width: 50%;
    background-color: yellow;
}

/* col mid */
#clients .col-mid {
    width: 40%;
}

/* col bot */
#clients .col-bot {
    background-color: rgb(173, 228, 233);
}

#clients .col-bot .col {
    width: 50%;
    padding: 10% 15%;
}

#clients .col {
    /* debug */
    height: 250px;
    border: solid 1px black;
}

#clients .col-mid {
    /* debug */
    height: 500px;
    /* margin-bottom: 50px; */
}

.relative-pos {
    position: relative;
}

/* FAQ */
.faq-quest {
    padding: 20px 5px;
}

.accordion {
    border-bottom: 1px black solid;
}

.faq-box .angle-down {
    float: right;
}

.faq-box p {
    display: none;
    margin-bottom: 5px;
}

.faq-quest:hover + p {
    display: block;
}

/* footer */
footer {
    background-color: black;
}

footer a {
    color: white;
}

.footer-top {
    color: white;
    padding: 5% 0;
}

.footer-col {
    width: 20%;
    float: left;
}

.footer-col li {
    list-style: none;
}

.footer-col a:hover {
    text-decoration: underline;
}

.footer-bot {
    color: gray;
    padding: 2%;
    width: 85%;
}

.footer-bot hr {
    width: 5%;
    color: green;
}